---
layout: default
body_class: home
---

<div class="section row" id="intro">
  {% include home_intro.html %}
</div><!-- end #intro .section -->

<div class="work section" style="background-color: #ffcc33;">
  <div class="cutout">{% include work_lamarzocco.svg %}</div>
  <div class="foreground">
    <div class="logo"> {% include logo_lamarzocco.svg %}</div>
    <h4>Clean and solid work for the makers of the world&rsquo;s finest espresso machines.</h4>
    <button>View Project</button>
  </div>
</div>

<div class="work section" style="background-color: #222222;">
  <div class="cutout">{% include work_fourbarrel.svg %}</div>
  <div class="foreground">
    <div class="logo"> {% include logo_fourbarrel.svg %}</div>
    <h4>A dark and moody redesign for San Francisco&rsquo;s finest coffee roasters.</h4>
    <button>View Project</button>
  </div>
</div>

<div class="work section" style="background-color: #abcdef;">
  <div class="cutout">{% include work_pennerash.svg %}</div>
  <div class="foreground">
    <div class="logo"> {% include logo_pennerash.svg %}</div>
    <h4>A clean and beautiful, product-forward redesign for one of the Valley&rsquo;s most respected wines.</h4>
    <button>View Project</button>
  </div>
</div>

<div class="section ending">
  <h2>Brands we&rsquo;ve blown... away!</h2>
  <img src="http://placehold.it/1000x750" />
  <h4>Like what you see?</h4>
  <button>Get in touch</button>
</div>
