---
layout: default
body_class: home
---

<div class="section row" id="intro">
  <div id="intro_svg"></div>
  <h4 class="tagline">Design and marketing for <a href="#">coffee</a>, <a href="#">food &amp; drink</a>, and <a href="#">creative brands</a>.</h4>
</div><!-- end #intro .section -->

{% include work_section.html client_name="La Marzocco" count="1" background_color="ffcc33" asset_url="assets/img/lamarzocco.jpg" %}
{% include work_section.html client_name="La Marzocco" count="2" background_color="51d7d8" asset_url="assets/img/lamarzocco.jpg" %}
{% include work_section.html client_name="La Marzocco" count="3" background_color="ee6a45" asset_url="assets/img/lamarzocco.jpg" %}
{% include work_section.html client_name="La Marzocco" count="4" background_color="6fc0d8" asset_url="assets/img/lamarzocco.jpg" %}
