---
layout: default
body_class: work
---

<div class="section row" id="intro">
  <h2>Our Work</h2>
  <h4>We’re as proud of our work as we are of our clients. We broadly group our clients into coffee, food &amp; drink, and creative categories, but they’re all listed right here.</h4>
</div>

<div class="row">

  <div class="work section" style="background-color: #ffcc33;">
    <div class="logo">{% include logo_lamarzocco.svg %}</div>
    <div class="cutout">{% include work_lamarzocco.svg %}</div>
  </div>

  <div class="work section" style="background-color: #222222;">
    <div class="cutout">{% include work_fourbarrel.svg %}</div>
    <div class="foreground">
      <div class="logo">{% include logo_fourbarrel.svg %}</div>
    </div>
  </div>

  <div class="work section" style="background-color: #abcdef;">
    <div class="cutout">{% include work_pennerash.svg %}</div>
    <div class="foreground">
      <div class="logo">{% include logo_pennerash.svg %}</div>
    </div>
  </div>
