---
layout: default
body_class: post-type-archive-portfolio
---

<div class="section row" id="intro">
  <h2>Our Work</h2>
  <h4>We’re as proud of our work as we are of our clients. We broadly group our clients into coffee, food &amp; drink, and creative categories, but they’re all listed right here.</h4>
</div>

<div class="row">

  <div class="work section" style="background-color: #ffcc33;">
    <div class="logo">{% include logo_lamarzocco.svg %}</div>
    <div class="cutout">{% include work_lamarzocco.svg %}</div>
  </div>

  <div class="work section" style="background-color: #555555;">
    <div class="logo">{% include logo_fourbarrel.svg %}</div>
    <div class="cutout">{% include work_fourbarrel.svg %}</div>
  </div>

  <div class="work section" style="background-color: hsl(21, 84%, 58%);">
    <div class="logo">{% include logo_hennebryeddy.svg %}</div>
    <div class="cutout">{% include work_hennebryeddy.svg %}</div>
  </div>

  <div class="work section" style="background-color: #ba4843;">
    <div class="logo">{% include logo_saltandstraw.svg %}</div>
    <div class="cutout">{% include work_saltandstraw.svg %}</div>
  </div>

  <div class="work section" style="background-color: #302412;">
    <div class="logo">{% include logo_pennerash.svg %}</div>
    <div class="cutout">{% include work_pennerash.svg %}</div>
  </div>

  <div class="work section" style="background-color: #d23336;">
    <div class="logo">{% include logo_literaryarts.svg %}</div>
    <div class="cutout">{% include work_literaryarts.svg %}</div>
  </div>
