@import 'vendor/normalize';

// default
$theme-color: #fff;
$accent-color: darken($theme-color, 10); // That is, 10% darker than the brand-color.

// identity colors
$color-blue:    #6FC8E1;
$color-orange:  #FE8B46;
$color-yellow:  #E6C257;
$color-red:     #EE6A45;
$color-aqua:    #5FD4CA;
$color-brown:   #CBAA94;

// Type color
$light-grey:    #696158;
$dark-grey:     #1f1f1f;
$color-white:   #ffffff;

// fonts
$body-font: 'Copernicus-Book', Cambria, Georgia, serif; // about 300
$body-font-bold: 'Copernicus-Medium', Cambria, Georgia, serif; // about 500?
$header-font: 'GalaxiePolaris-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif; // about 100
$header-font-medium: 'GalaxiePolaris-Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif; // about 500?
// TODO: Finalize these decisions, and minimize the number of fonts we're using

// global styles, persistent navigation
nav {
  width:100%;
  position:relative;
  .site-branding {
    top: 1em;
    left: 1em;
    z-index: 9;
    position: absolute;
    @include bp(large) {
      position: fixed;
    }
  }
  #trigger-overlay {
    top: 3em;
    right: 3.4em;
    position: absolute;
    @include bp(large) {
      position: fixed;
    }
    #NM41-Homepage {
      border: 2px solid white;
    }
  }
}
button, label {
  font-family: $header-font-medium;
}
button:hover {
  background-color: black;
  color: $color-white;
}

// General styles for sitewide background video effect
video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  //background: url(../assets/img/Phone_Still.jpg) no-repeat;
  // TODO: We need a better way to handle this so it is the same size as the video frame
  background-size: cover;
}
