@import 'normalize';
// @import 'skeleton';

// orange default
$theme-color: #fff;
$accent-color: darken($theme-color, 10); // That is, 10% darker than the brand-color.

// other colors
$color-blue:    #6FC8E1;
$color-orange:  #FE8B46;
$color-yellow:  #E6C257;
$color-red:     #EE6A45;
$color-aqua:    #5FD4CA;
$color-brown:   #CBAA94;

// fonts
$body-font: 'Copernicus-Book', Cambria, Georgia, serif;
$header-font: 'GalaxiePolaris-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Type color
$light-grey: #696158;
$dark-grey: #1f1f1f;
$color-white: #fff;


// global styles
#masthead {
  top: 1em;
  left: 1em;
  position: fixed;
  z-index:99999;
}
#trigger-overlay {
  top: 3em;
  right: 3.4em;
  position: fixed;
}
