// General section layouts
.section.intro {
  min-height: 66vh;
  padding: 10em 8em;
  h4 {
    max-width: 800px;
  }
}
.section.end {
  height: 66vh;
  min-height: 300px;
  background-color: #eee;
  background-repeat: none;
  background-size: cover;
  padding: 20vh 5em 10em 50vw;
}
