body.about {
  #intro {
    height: 66vh;
    padding: 10em 8em;
    h4 {
      max-width: 800px;
    }
  }
  #believe {
    padding: 10em 8em;
    min-height: 50vh;
    background-color: $color-blue;
    color: $color-white;
    ul {
      list-style-type: none;
      padding-left: 0;
      li {
        font-size: 28px;
        line-height: 56px;
        font-family: $body-font;
      }
    }
  }
  .section.end {
    background-image: url(../assets/img/records.jpg);
  }
}

body.services {
  .section.intro {
    padding: 10em 8em;
  }
  .section.service {
    min-height: 66vh;
    padding: 10em 50vw 10em 8em;
    color: $color-white;
    background-color: $color-blue;
    background-position: right center;
    background-repeat: no-repeat;
    p {
      font-size: 24px;
      line-height: 32px;
    }
    ul {
      list-style-type: none;
      padding-left: 0;
      li {
        font-size: 24px;
        line-height: 48px;
        font-family: $header-font;
      }
    }
  }
  .section.digital {
    background-color: $color-aqua;
    background-image: url(../assets/img/illustration-strategy.png);
  }
  .section.design {
    background-color: $color-red;
    background-image: url(../assets/img/illustration-design.png);
  }
  .section.marketing {
    background-color: $color-blue;
    background-image: url(../assets/img/illustration-development.png);
  }
  .section.end {
    background-image: url(../assets/img/coffee.jpg);
  }
}

body.contact {
  .section.intro {
    min-height: 100vh;
    height: auto;
    padding: 40vh 5em 10em 66vw;
    video#bgvid {
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      background: url(../assets/img/Phone_Still.jpg) no-repeat;
      background-size: cover;
    }
  }
  .section.form {
    background-color: $color-blue;
    min-height: 100vh;
    padding: 10em;
    font-family: $header-font;
    p, address {
      font-style: normal !important;
      font-size: 18px;
      line-height: 24px;
    }
  }
  .section.ending {
    min-height: 100vh;
    padding: 40vh 5em 10em 66vw;
  }
}
