// pages
body.home {
  #intro {
    height: 100vh;
    background-color: $color-blue;
    h4 {
      text-align: center;
      font-family: $body-font;
      padding-top: 50vh;
      color: $color-white;
      a {
        color: $color-white;
        text-decoration: underline;
      }
    }
  }
  .work.section {
    position: relative;
    min-height: 50vh;
    padding: 2em;
    width: 100%;
    .cutout {
      z-index: 0;
      position: absolute;
      left: 0; top: 0;
      width: 100%;
      height: 100%;
      opacity: .8;
      text-align: center;
      svg {
        width: 33vmax;
        // opacity: 0;
      }
    }
    .foreground {
      position: relative;
      width: 66%;
      margin: 0 auto;
      z-index: 2;
    }
    .logo {
      z-index: 2;
      display: block;
      svg {
      }
    }
    h4 {
      text-align: center;
      color: $color-white;
    }
    button {
      margin: 0 auto;
      // text-align: center;
      display: block;
    }
  }
}

body.about {
  #intro {
    height: 66vh;
    padding: 10em 8em;
    h4 {
      max-width: 800px;
    }
  }
  #believe {
    padding: 10em 8em;
    min-height: 50vh;
    background-color: $color-blue;
    color: $color-white;
    ul {
      list-style-type: none;
      padding-left: 0;
      li {
        font-size: 28px;
        line-height: 56px;
        font-family: $body-font;
      }
    }
  }
  .section.end {
    background-image: url(../assets/img/records.jpg);
  }
}

body.services {
  .section.intro {
    padding: 10em 8em;
  }
  .section.service {
    min-height: 66vh;
    padding: 10em 50vw 10em 8em;
    color: $color-white;
    background-color: $color-blue;
    background-position: right center;
    background-repeat: no-repeat;
    p {
      font-size: 24px;
      line-height: 32px;
    }
    ul {
      list-style-type: none;
      padding-left: 0;
      li {
        font-size: 24px;
        line-height: 48px;
        font-family: $header-font;
      }
    }
  }
  .section.digital {
    background-color: $color-aqua;
    background-image: url(../assets/img/illustration-strategy.png);
  }
  .section.design {
    background-color: $color-red;
    background-image: url(../assets/img/illustration-design.png);
  }
  .section.marketing {
    background-color: $color-blue;
    background-image: url(../assets/img/illustration-development.png);
  }
  .section.end {
    background-image: url(../assets/img/coffee.jpg);
  }
}

body.work {
  #intro {
    height: 50vh;
    padding: 10em 8em;
    h4 {
      max-width: 800px;
    }
  }
  .work.section {
    width: 33.33%;
    height: 33.33vw;
    float: left;
    .logo {
      display: none;
    }
    .cutout {
      left: 0; top: 0;
      width: 100%;
      height: 100%;
      opacity: 1;
      text-align: center;
      svg {
        width: 66%;
        // opacity: 0;
      }
      .strokepath {
        // document.querySelector('#path-1').getTotalLength();
        // https://css-tricks.com/svg-line-animation-works/
        stroke-dasharray: 1989.442626953125;
        stroke-dashoffset: 1989.442626953125;
        stroke-alignment: inside;
        animation: dash 1s linear forwards;
        stroke: rgba(255,255,255,.8);
      }
      #Page-0 image {
        animation: cutout .5s linear forwards;
        animation-delay: 1s;
      }
      svg image {
        opacity: 0;
      }
      svg image:hover {
        // animation-name: cutout;
        // animation-duration: .1s;
        // animation-iteration-count: 1;
        // animation-fill-mode: both;
      }
    }
  }
}

// keyframes yo!
@keyframes cutout {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@keyframes dash {
  to { stroke-dashoffset: 0; }
}

body.contact {
  .section.intro {
    min-height: 100vh;
    height: auto;
    padding: 40vh 5em 10em 66vw;
    video#bgvid {
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      background: url(../assets/img/Phone_Still.jpg) no-repeat;
      background-size: cover;
    }
  }
  .section.form {
    background-color: $color-blue;
    min-height: 100vh;
    padding: 10em;
    font-family: $header-font;
    p, address {
      font-style: normal !important;
      font-size: 18px;
      line-height: 24px;
    }
  }
  .section.ending {
    min-height: 100vh;
    padding: 40vh 5em 10em 66vw;
  }
}
