body.page-template-about {
  .section.intro {
    min-height: 66vh;
    padding: 10em 8em;
    h4 {
      max-width: 800px;
    }
    background-color: white;
  }

// One section for each team member, in theory.
  .section.team {
    min-height: 100vh;
    background-color: #eee;
    overflow: hidden;
    width: 100%;
    position: relative;
    svg {
      position: absolute;
      overflow: hidden;
      max-height: 80vh;
      bottom: 10vh;
      z-index: 1;
      // -webkit-filter: blur(10px); // a boy can dream.
    }
    .caption {
      max-width: 33vw;
      overflow: auto;
      position: absolute;
      bottom: 25vh;
      background-color: #fff;
      padding: 1em 2em;
      z-index: 2;
      h4 {
        margin-bottom: .5em;
      }
      h5 {
        font-size: 18px;
        font-weight: 700;
      }
      ul {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
        font-weight: 400;
        line-height: 1.66em;
        li.title {
          margin-bottom: .5em;
          font-size: 18px;
          font-family: $header-font;
          font-weight: 700;
        }
      }
    }
  }
  #team1 { // Ray
    svg { right: 60%; }
    .caption { left: 50%; }
  }
  #team2 { // Kandace
    svg { left: 60%; }
    .caption { right: 50%; }
  }


// What we believe!
  .section.believe {
    padding: 10em 8em;
    min-height: 50vh;
    background-color: $color-blue;
    color: $color-white;
    ul {
      list-style-type: none;
      padding-left: 0;
      li {
        font-size: 28px;
        line-height: 56px;
        font-family: $body-font;
      }
    }
  }
  .section.video {
    background: none;
    // background-image: url(../assets/img/About_Us_Poster.jpg);
    height: 100vh;
    padding: 0;
    video#bgvid {
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      background: url(../assets/img/About_Us_Poster.jpg) no-repeat;
      background-size: cover;
    }
    .supertext {
      padding: 30vh 8em 0 50vw;
      min-height: 50vh;
      position: absolute;
    }

  }
}
