body.home {
  #intro {
    height: 100vh;
    width: 100%;
    background-color: $color-blue;
    .intro_svg {
      text-align: center;
      max-height: 50vh;
      padding-top: 15vh;
    }
    h4 {
      text-align: center;
      font-family: $body-font;
      padding-top: 30vh;
      color: $color-white;
      a {
        color: $color-white;
        text-decoration: underline;
      }
    }
  }
  .work.section {
    position: relative;
    // padding: 5em 2em;
    height: 100vh;
    width: 100%;
    .cutout {
      // display: none;
      z-index: 0;
      position: absolute;
      left: 0; top: 0;
      width: 100%;
      height: 100%;
      opacity: .8;
      text-align: center;
      mix-blend-mode: multiply;
      svg {
        width: 50vmax;
      }
    }
    .foreground {
      top: 50%;
      transform: translateY(-50%);
      position: relative;
      width: 66%;
      margin: 0 auto;
      z-index: 2;
      button {
        margin: 0 auto;
        display: block;
      }
    }
    .logo {
      z-index: 2;
      display: block;
      margin-bottom: 4em;
      svg {
      }
    }
    h4 {
      text-align: center;
      color: $color-white;
    }
  }
  .section.ending {
    min-height: 100vh;
    padding: 8em;
    background-color: $color-orange;
    svg, img {
      width: 100%;
      margin: 5em auto;
    }
    h2, h4, p {
      text-align: center;
      margin: 0 auto;
      display: block;
      color: white;
    }
    h4 {
      padding: 1em;
    }
    p {
      font-size: 24px;
    }
  }
}
