<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

  {% include head.html %}

  <body class="{{ page.body_class }}">

  <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->

    {% include header.html %}

    <div class="container page-content">
      <article class="wrapper blogpost">
        <img class="feature" src="{{ page.feature_image }}" />
        <header>
          <h2>{{ page.title }}</h2>
          <h4>{{ page.lede }}</h4>
          <h6>By Author Name - Date</h6>
        </header>
        <article>
          {{ content }}
        </article>
        <footer>
          <ul class="tags">
            <li><a href="#">education</a></li>
            <li><a href="#">learning</a></li>
          </ul>
          <h4>Spread the love</h4>
          <ul class="social">
            <li><a href="#">twitter</a></li>
            <li><a href="#">instagram</a></li>
          </ul>
          <h4>Recent stories</h4>
          <ul class="recent">
            <li><img src="http://needmoredesigns.com/assets/2015/08/job_featuredimage-620x310.jpg"><a href="#">Season 3 of The Job</a></li>
            <li><img src="http://needmoredesigns.com/assets/2015/08/BrothBar_2-620x310.jpg"><a href="#">14 Things I Learned About Apple and Typography</a></li>
            <li><img src="http://needmoredesigns.com/assets/2015/07/Penner_Ash_Header-620x310.jpg"><a href="#">Apple has a new video up (public!)</a></li>
          </ul>
          <div class="section call-to-action">
            <div class="supertext">
              <h4>Needmore is a design and marketing agency that does amazing work.</h4>
              <button>Get in touch</button>
            </div>
          </div>
        </footer>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
